* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.login {
  background-color: #bdd1ec;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.login img {
  width: 120px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  color: #4a4a80;
}

input {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.submit {
  background-color: #515188;
  color: #c2c2df;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.submit:hover {
  background-color: #303061;
}
