.left {
	height: 100vh;
	/* background-color: #bdd1ec; */
  }
.left .outer {
	position: relative;
	width: 400px;
	max-width: 400px;
	padding-top: 33.33%;
	padding: 0px;
	margin: 20px;
	border-radius: 30px;
	border-width: 5px;
	border: 1px solid rgb(197, 135, 135);
}
.left .upper{
	position: relative;
	width: 100%;
	max-width: 200px;
	padding-top: 33.33%;
	padding-bottom: 100px;
	z-index: 1;
	pointer-events: none;
}
.left img{
	height: auto;
}
.left .downer{
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.left .draggable {
	position: relative;
	background-color: #2a80eb;
}
  
.left .downer.hide {
    display: none;
}

.right {
	height: 100vh;
	background-color: #ffffff;
	/* background-color: #bdd1ec; */
}
.right .searchBox{
	height: 35px;
	width: 20vw;
	background-color: rgb(211, 211, 211);
	border-radius: 14px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.08);
	margin-bottom: 40px;
}
.right .dalle2{
	height: 200px;
	width: 200px;
	background-color: rgb(211, 211, 211);
	border-radius: 10px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.08);
	margin-bottom: 40px;
}
.right .scrollable-row {
	width: 44vw;
	background-color: #f2c9c9; 
	overflow-x: scroll;
	white-space: nowrap;
	-ms-overflow-style: none;  /* IE 10+ */
	scrollbar-width: none;  /* Firefox */
}
.right .exhibition{
	display: inline-block;
	height: 80px;
	width: 80px;
	margin: 10px;
	background-color: aquamarine;
	border-radius: 10px;
}
.scrollable-row::-webkit-scrollbar { /* WebKit */
	display: none;
}

.popup-image{
	position: fixed;
	top: 0; left: 0;
	background-color: rgba(0, 0, 0, .9);
	height: 100%;
	width: 100%;
	z-index: 100;
	display: none;
}

.popup-image span{
	position: absolute;
	top: 0; right: 10px;
	font-size: 40px;
	font-weight: bolder;
	color: #fff;
	cursor: pointer;
	z-index: 100;
}

.popup-image img{
	width: 50%;
	max-width: 300px;
	padding-top: 33.33%;
	padding-bottom: 30%;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 750px;
	object-fit: cover;
	background-color: #2a80eb;
}

@media(max-width: 768px){
	.container .popup-image img{
		width: 95%;
	}
}